body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  margin: 0;
}

.container {
  background-color: white;
  max-width: 500px;
  margin: auto;
  padding: 30px;
  margin-top: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
button {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.form-group select {
  width: 100%;
  padding: 10px 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: border 0.3s ease, box-shadow 0.3s ease;
  appearance: none;
}

.form-group select:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
  outline: none;
}

.form-group select option {
  padding: 10px;
}
