<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Reservations</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/hashir.css') }}"
    />
  </head>
  <body>
    <div class="reservation-container">
      <h1>Reservation List</h1>
      <ul class="reservation-list">
        {% for r in reservations %}
        <li class="reservation-item">
          <div class="reservation-details">
            <span class="reservation-name">{{ r.name }}</span>
            <span class="reservation-email">{{ r.email }}</span>
            <span class="reservation-date">{{ r.date }}</span>
            <span class="reservation-time">{{ r.time }}</span>
            <span class="reservation-seats"
              >{{ r.seats }} Seat{{ 's' if r.seats|int > 1 else '' }}</span
            >
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
