<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="./images/logo1.jpg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resturant</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="headerbar">
                <div class="account">
                    <ul>
                        <a href="{{ url_for('home') }}">
                            <li>
                                <i class="fa-solid fa-house-chimney"></i>
                            </li>
                        </a>
                        <a href="">
                            <li>
                                <i class="fa-solid fa-magnifying-glass searchicon" id="searchicon1"></i>
                            </li>
                        </a>
                        <div class="search" id="searchinput1">
                            <input type="search">
                            <i class="fa-solid fa-magnifying-glass srchicon"></i>
                        </div>
                        <a href="">
                            <li>
                                <i class="fa-solid fa-user" id="user-md"></i>
                            </li>
                        </a>
                    </ul>
                </div>
                <div class="nav" id="navMenu">
                    <ul>
                        <a href="{{ url_for('home') }}">
                            <li>Home</li>
                        </a>
                        <a href="#about">
                            <li>About Us</li>
                        </a>
                        <a href="https://wa.me/qr/KCCLLA7C7BF7B1">
                            <li>Help</li>
                        </a>
                        <a href="{{ url_for('reserve') }}">
                            <li>Book Table</li>
                        </a>
                    </ul>
                    <div class="wow" data-wow-direction="1.5s" data-wow-delay="1s">
                        <a href="{{ url_for('reserve') }}" target="_blank"
                            class="btn my btn btn-outline-secondary btn-md" style="font-size: 25px;">Reserve Your
                            Seat</a>
                    </div>
                </div>
            </div>

            
            <div class="bar">
                <i class="fa-solid fa-bars" id="hamburger"></i>
                <i class="fa-solid fa-xmark" id="hdcross" style="display:none;"></i>
            </div>

            <div class="logo">
                <img src="{{ url_for('static', filename='images/Screenshot_6-5-2025_203448_images.seeklogo.com-removebg-preview.png') }}"
                    alt="Logo">
            </div>

            <div class="nav">
                <ul>
                    <a href="{{ url_for('home') }}">
                        <li>Home</li>
                    </a>


                    <a href="#about">
                        <li>About</li>
                    </a>

                    <a href="https://wa.me/qr/KCCLLA7C7BF7B1">
                        <li>Help</li>
                    </a>

                    <a href="{{ url_for('reserve') }}">
                        <li>Book Table</li>
                    </a>

                </ul>

            </div>

    </header>
    <div class="home">
        <div class="main_slide">
            <div>
                <h1>Enjoy<span>Delicious Food</span>In Your Own City</h1>
                <p>Welcome to <strong>CONTINENTAL</strong> where exquisite flavors and exceptional service await you.
                    Book your table effortlessly online and enjoy a memorable dining experience. Reserve now and indulge
                    in culinary perfection!</p>
                <form action="{{ url_for('reserve') }}" method="GET">
                    <button type="submit" class="orange-btn">Go to Reservation Page</button>
                </form>
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/—Pngtree—testy fast food burger_19914849.png') }}"
                    alt="Burger">
            </div>
        </div>

        <div class="food-items1">
            <div class="item1">
                <div>
                    <img src="{{ url_for('static', filename='images/—Pngtree—sausage cheese pizza slice three-dimensional_13137250.png') }}"
                        alt="food item">
                </div>
                <h3>Pizza</h3>
                <p>Hot, cheesy, and mouthwatering — discover the taste of authentic pizza!</p>
                <a class="white_btn"
                    href="{{ url_for('static', filename='images/Brown Modern Restaurant Food Menu Instagram Post (1).png') }}">Fast
                    Food</a>
            </div>
            <div class="item1">
                <div>
                    <img src="{{ url_for('static', filename='images/—Pngtree—indian street food pani puri_20349512.png') }}"
                        alt="food item">
                </div>
                <h3>Gol Gappy</h3>
                <p>Crispy, tangy, and bursting with flavor — the ultimate gol gappa experience!</p>
                <a class="white_btn"
                    href="{{ url_for('static', filename='images/Brown Modern Restaurant Food Menu Instagram Post (1).png') }}">See
                    Specialty</a>
            </div>
            <div class="item1">
                <div>
                    <img src="{{ url_for('static', filename='images/vecteezy_ai-generated-noodles-with-vegetables-clip-art_40212496.png') }}"
                        alt="food item">
                </div>
                <h3>Vegetables Noodles</h3>
                <p>Sizzling, spicy, and loaded with veggies — noodles that hit the spot!</p>
                <a class="white_btn" href="{{ url_for('static', filename='images/1.png') }}">Veges Menu</a>
            </div>
        </div>
        <div class="main_slide2">
            <div class="fooding">
                <img src="{{ url_for('static', filename='images/vecteezy_3d-rendering-of-a-complete-meal-a-burger-fries-and-a-glass_56815670.png') }}"
                    alt="">
            </div>
            <div class="question">
                <div>
                    <h2>Why People choose us?</h2>
                </div>
                <div>
                    <div class="q-ans">

                        <div>
                            <h4>Exceptional Taste</h4>
                            <p> Every bite bursts with flavor crafted from fresh ingredients.</p>
                        </div>
                    </div>
                    <div class="q-ans">

                        <div>
                            <h4>Quality Service</h4>
                            <p>Friendly staff and fast service that makes you feel special.</p>
                        </div>
                    </div>
                    <div class="q-ans">

                        <div>
                            <h4>Affordable Prices</h4>
                            <p>Delicious meals that satisfy your cravings without breaking the bank.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_slide3">
            <div class="fav-head">
                <h3>Our popular food items</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, rerum!</p>
            </div>
            <div class="fav-food">
                <div class="item1">
                    <div>
                        <img src="https://static.vecteezy.com/system/resources/previews/046/407/668/original/spicy-full-dish-of-chicken-karahi-or-kadai-korma-masala-served-in-dish-isolated-on-transparent-background-free-png.png"
                            alt="">
                    </div>
                    <h3>Chicken Karahi</h3>
                    <p>A hearty, spiced chicken dish cooked in a wok with fresh tomatoes and green chilies.</p>
                    <p class="fav-price">250rs</p>
                </div>
                <div class="item1">
                    <div>
                        <img src="https://graficsea.com/wp-content/uploads/2022/03/Karachi-Best-Nihari-.png" alt="">
                    </div>
                    <h3>Nihari</h3>
                    <p>Slow-cooked beef stew in rich spices, perfect with naan or rice.</p>
                    <p class="fav-price">300rs</p>
                </div>
                <div class="item1">
                    <div>
                        <img src="https://static.vecteezy.com/system/resources/previews/048/094/681/non_2x/chicken-seekh-kabab-isolated-on-transparent-background-free-png.png"
                            alt="">
                    </div>
                    <h3>Seekh Kebabs</h3>
                    <p>Succulent minced meat kebabs, grilled to perfection with aromatic spices. </p>
                    <p class="fav-price">200rs</p>
                </div>
                <div class="item1">
                    <div>
                        <img src="https://png.pngtree.com/png-clipart/20230803/ourmid/pngtree-keema-top-view-png-image_9118266.png"
                            alt="">
                    </div>
                    <h3>Aloo Keema</h3>
                    <p>Spiced minced meat and potatoes, a comfort food loved by many.</p>
                    <p class="fav-price">150rs</p>
                </div>
            </div>
            <div class="dsgn"></div>
        </div>
        <div id="about" class="main_slide4">
            <div class="chef-feed">
                <h2>Customer <span style="color: red;">Feedback</span></h2>
                <p>The food here is absolutely amazing! The flavors are authentic, and every dish is made with such
                    care. The service is always friendly, and the ambiance makes it the perfect place to dine with
                    family and friends. Highly recommend trying their signature dishes, especially the Chicken Karahi!
                    Every visit is a delightful experience, and we always leave satisfied. Truly a gem in the area!"</p>
                <div class="chef-detail">
                    <div>
                        <img src="{{ url_for('static', filename='images/WhatsApp_Image_2025-03-23_at_05.09.33_b69495cc-removebg-preview.png') }}"
                            alt="">
                    </div>
                    <div>
                        <h6>Hashir Khankor</h6>
                        <p>Resturant</p>
                    </div>
                </div>
                <div class="chef-vic">
                    <div>
                        <i class="fa-solid fa-hand-peace"></i>
                        <h4>68</h4>
                        <p>Customers love our delicious, tasty, and authentic dishes</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-trophy"></i>
                        <h4>956</h4>
                        <p>Our team has earned countless awards and honors</p>
                    </div>
                </div>
            </div>
            <div class="chef">
                <img src="{{ url_for('static', filename='images/WhatsApp_Image_2025-03-23_at_05.09.33_b69495cc-removebg-preview.png') }}"
                    alt="">
            </div>
        </div>
        <div class="letter">
            <div class="letter-head">
                <h2>Subscribe <span>NewsLetter</span></h2>
            </div>
            <div class="letter-input">

                <a href="https://www.youtube.com/@khankorvlogs7849" class="red_btn">Subscribe</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-1">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/WhatsApp_Image_2025-03-23_at_05.09.33_b69495cc-removebg-preview.png') }}"
                    alt="">
            </div>
            <div>
                <br>
                <p>Email:example@gmail.com</p>
                <p>Instagram:@example</p>
                <p>Peshawar </p>Warsak Road 123</br></p>
                </address>
            </div>
        </div>
        <div class="footer-2">
            <img src="/images/WhatsApp_Image_2025-03-23_at_05.09.33_b69495cc-removebg-preview.png" alt="">
            <h2>Powered by <en>Agriculture</en>
            </h2>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>



</body>

</html>